<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

</head>

<body>



<h1>Select Stop</h1>

<select id="select-stop"></select>

<div id='results'>

</div>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>


<script>
    var globaldata = ''

    function get_table(platform) {
        return `
        <table id='${platform}' class="table">
          <thead>
            <tr>
              <th scope="col">Line</th>
              <th scope="col">Destination</th>
              <th scope="col">Time</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
    `
    }

    function get_row(line_num, destination, time_to_train) {
        return `
        <tr>
          <td>${line_num}</td>
          <td>${destination}</td>
          <td>${time_to_train}</td>
        </tr>
        `
    }

    $(function() {
        $('#select-stop').on('change', function() {
            $.post('/train_times/', {
                stop_wanted: this.value
            }).done(function(data) {
                $('#results').empty()
                data = JSON.parse(data)
                globaldata = data
                $('#test-output').text(data)
                $('#test-stops').text(data["stop_info"]["stop_name"])
                $('#test-also-stops').text(data.stop_info.platforms)
                var platforms = data.stop_info.platforms
                var trains = data.result

                $.each(platforms, function (i, item) {
                    var platform = "platform-" + item.split(' ')[0]
                    $('#results').append("<div class='card w-75' id='card-" + platform + "'></div>")
                    $('#card-' + platform).append(get_table(platform))

                })
                $.each(data.result, function (i, item) {
                    var platform = "#platform-" + item.platform.split(' ')[0]
                    $(platform).append(get_row(item.line_num, item.destination, item.time_away))
                })

            }).fail(function() {
                $('#test-output').text("could not reach server")
            })
        })




        $(document).ready(function () {
            let dropdown = $('#select-stop');
            var listitems = ''
            $.getJSON('/get_stops/', function (data) {
                $.each(data, function (i, item) {
                    listitem = '<option value=' + item.stop_id + '>' + item.stop + '</option>'
                    listitems += listitem
                });
                $(dropdown).append(listitems)
            })
        })
    });
</script>
</body>
